@import 'colors.less';

.student-assignment-list-page{
    overflow: hidden;
    .student-assignment-list-header{
      .logout{
        float: right;
        display: inline-block;
        vertical-align: middle;
      }
    }
}

